@charset "UTF-8";
@font-face {
  font-family: "Sansation";
  src: url("https://nomail.com.ua/files/eot/5d7809fb3b625105504222183b23a7d8.eot?#iefix") format("embedded-opentype"), url("https://nomail.com.ua/files/woff/5d7809fb3b625105504222183b23a7d8.woff") format("woff"), url("https://nomail.com.ua/files/woff2/5d7809fb3b625105504222183b23a7d8.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("https://nomail.com.ua/files/eot/e2a5e608ba42366402cbf775c06f3f15.eot?#iefix") format("embedded-opentype"), url("https://nomail.com.ua/files/woff/e2a5e608ba42366402cbf775c06f3f15.woff") format("woff"), url("https://nomail.com.ua/files/woff2/e2a5e608ba42366402cbf775c06f3f15.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "NEOTERIC";
  src: url("../fonts/NEOTERICc_-_Bold_DEMO_VERSION.ttf") format("ttf"), url("../fonts/NEOTERICc_-_Bold_DEMO_VERSION.woff") format("woff"), url("../fonts/NEOTERICc_-_Bold_DEMO_VERSION.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaLTStd";
  src: url("https://nomail.com.ua/files/eot/307323c71f55aed575c7d80e1daef083.eot?#iefix") format("embedded-opentype"), url("https://nomail.com.ua/files/woff/307323c71f55aed575c7d80e1daef083.woff") format("woff"), url("https://nomail.com.ua/files/woff2/307323c71f55aed575c7d80e1daef083.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "HelveticaLTStd-Cond";
  src: url("https://nomail.com.ua/files/eot/7b40dbd591a93878ad969d28f8a706af.eot?#iefix") format("embedded-opentype"), url("https://nomail.com.ua/files/woff/7b40dbd591a93878ad969d28f8a706af.woff") format("woff"), url("https://nomail.com.ua/files/woff2/7b40dbd591a93878ad969d28f8a706af.woff2") format("woff2");
  font-weight: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}
.container {
  max-width: 910px;
  margin: 0 auto;
  width: 100%;
}

/*!
 * baguetteBox.js
 * @author  feimosi
 * @version %%INJECT_VERSION%%
 * @url https://github.com/feimosi/baguetteBox.js
 */
#baguetteBox-overlay {
  display: none;
  opacity: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
#baguetteBox-overlay.visible {
  opacity: 1;
}
#baguetteBox-overlay .full-image {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
#baguetteBox-overlay .full-image figure {
  display: inline;
  margin: 0;
  height: 100%;
}
#baguetteBox-overlay .full-image img {
  display: inline-block;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
#baguetteBox-overlay .full-image figcaption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1.8;
  white-space: normal;
  color: #ccc;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: sans-serif;
}
#baguetteBox-overlay .full-image:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}

#baguetteBox-slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  -webkit-transition: left 0.4s ease, -webkit-transform 0.4s ease;
  transition: left 0.4s ease, -webkit-transform 0.4s ease;
  -o-transition: left 0.4s ease, transform 0.4s ease;
  transition: left 0.4s ease, transform 0.4s ease;
  transition: left 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
}
#baguetteBox-slider.bounce-from-right {
  -webkit-animation: bounceFromRight 0.4s ease-out;
          animation: bounceFromRight 0.4s ease-out;
}
#baguetteBox-slider.bounce-from-left {
  -webkit-animation: bounceFromLeft 0.4s ease-out;
          animation: bounceFromLeft 0.4s ease-out;
}

@-webkit-keyframes bounceFromRight {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes bounceFromRight {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes bounceFromLeft {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes bounceFromLeft {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}
.baguetteBox-button#previous-button, .baguetteBox-button#next-button {
  top: 50%;
  top: calc(50% - 30px);
  width: 44px;
  height: 60px;
}

.baguetteBox-button {
  position: absolute;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 15%;
  background-color: #323232;
  background-color: rgba(50, 50, 50, 0.5);
  color: #ddd;
  font: 1.6em sans-serif;
  -webkit-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
.baguetteBox-button:focus, .baguetteBox-button:hover {
  background-color: rgba(50, 50, 50, 0.9);
}
.baguetteBox-button#next-button {
  right: 2%;
}
.baguetteBox-button#previous-button {
  left: 2%;
}
.baguetteBox-button#close-button {
  top: 20px;
  right: 2%;
  right: calc(2% + 6px);
  width: 30px;
  height: 30px;
}
.baguetteBox-button svg {
  position: absolute;
  left: 0;
  top: 0;
}

/*
    Preloader
    Borrowed from http://tobiasahlin.com/spinkit/
*/
.baguetteBox-spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.baguetteBox-double-bounce1,
.baguetteBox-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
          animation: bounce 2s infinite ease-in-out;
}

.baguetteBox-double-bounce2 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.webui-popover-content {
  display: none;
}

.webui-popover-rtl {
  direction: rtl;
  text-align: right;
}

.webui-popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  min-width: 50px;
  min-height: 32px;
  max-width: 220px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-clip: padding-box;
  background-color: #fff;
  color: #222222;
  line-height: 20px;
  font-size: 14px;
  border: 1px solid #b0b0b0;
}

.webui-popover-inner {
  padding: 10px 20px;
}

.webui-popover span {
  color: #b0b0b0;
}

.webui-popover.top,
.webui-popover.top-left,
.webui-popover.top-right {
  margin-top: -10px;
}

.webui-popover.right,
.webui-popover.right-top,
.webui-popover.right-bottom {
  margin-left: 10px;
}

.webui-popover.bottom,
.webui-popover.bottom-left,
.webui-popover.bottom-right {
  margin-top: 10px;
}

.webui-popover.left,
.webui-popover.left-top,
.webui-popover.left-bottom {
  margin-left: -10px;
}

.webui-popover.pop {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
      transform: scale(0.8);
  -webkit-transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
  -o-transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
  transition: -webkit-transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
  transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
  transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5), -webkit-transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
  opacity: 0;
  filter: alpha(opacity=0);
}

.webui-popover.pop-out {
  -webkit-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  transition: 0.15s linear;
  opacity: 0;
  filter: alpha(opacity=0);
}

.webui-popover.fade,
.webui-popover.fade-out {
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  opacity: 0;
  filter: alpha(opacity=0);
}

.webui-popover.out {
  opacity: 0;
  filter: alpha(opacity=0);
}

.webui-popover.in {
  -webkit-transform: none;
  -ms-transform: none;
      transform: none;
  opacity: 1;
  filter: alpha(opacity=100);
}

.webui-popover .webui-popover-content {
  padding: 9px 14px;
  overflow: visible !important;
  display: block;
}

.webui-popover .webui-popover-content > div:first-child {
  width: 99%;
}

.webui-popover-inner .close {
  font-family: arial;
  margin: 8px 10px 0 0;
  float: right;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}

.webui-popover-inner .close:hover,
.webui-popover-inner .close:focus {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.webui-popover-inner .close:after {
  content: "×";
  width: 0.8em;
  height: 0.8em;
  padding: 4px;
  position: relative;
}

.webui-popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 5px 5px 0 0;
}

.webui-popover-content {
  padding: 9px 14px;
  overflow: auto;
  display: none;
}

.webui-popover-inverse {
  background-color: #333;
  color: #eee;
}

.webui-popover-inverse .webui-popover-title {
  background: #333;
  border-bottom: 1px solid #3b3b3b;
  color: #eee;
}

.webui-no-padding .webui-popover-content {
  padding: 0;
}

.webui-no-padding .list-group-item {
  border-right: none;
  border-left: none;
}

.webui-no-padding .list-group-item:first-child {
  border-top: 0;
}

.webui-no-padding .list-group-item:last-child {
  border-bottom: 0;
}

.webui-popover > .webui-arrow,
.webui-popover > .webui-arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.webui-popover > .webui-arrow {
  border-width: 11px;
}

.webui-popover > .webui-arrow:after {
  border-width: 10px;
  content: "";
}

.webui-popover.top > .webui-arrow,
.webui-popover.top-right > .webui-arrow,
.webui-popover.top-left > .webui-arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #fff;
  border-top-color: #b0b0b0;
  border-bottom-width: 0;
}

.webui-popover.top > .webui-arrow:after,
.webui-popover.top-right > .webui-arrow:after,
.webui-popover.top-left > .webui-arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #fff;
  border-bottom-width: 0;
}

.webui-popover.right > .webui-arrow,
.webui-popover.right-top > .webui-arrow,
.webui-popover.right-bottom > .webui-arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #fff;
  border-right-color: #b0b0b0;
}

.webui-popover.right > .webui-arrow:after,
.webui-popover.right-top > .webui-arrow:after,
.webui-popover.right-bottom > .webui-arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #fff;
}

.webui-popover.bottom > .webui-arrow,
.webui-popover.bottom-right > .webui-arrow,
.webui-popover.bottom-left > .webui-arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #fff;
  border-bottom-color: #b0b0b0;
  border-top-width: 0;
}

.webui-popover.bottom > .webui-arrow:after,
.webui-popover.bottom-right > .webui-arrow:after,
.webui-popover.bottom-left > .webui-arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #fff;
  border-top-width: 0;
}

.webui-popover.left > .webui-arrow,
.webui-popover.left-top > .webui-arrow,
.webui-popover.left-bottom > .webui-arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #fff;
  border-left-color: #b0b0b0;
}

.webui-popover.left > .webui-arrow:after,
.webui-popover.left-top > .webui-arrow:after,
.webui-popover.left-bottom > .webui-arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #fff;
  bottom: -10px;
}

.webui-popover-inverse.top > .webui-arrow,
.webui-popover-inverse.top-left > .webui-arrow,
.webui-popover-inverse.top-right > .webui-arrow,
.webui-popover-inverse.top > .webui-arrow:after,
.webui-popover-inverse.top-left > .webui-arrow:after,
.webui-popover-inverse.top-right > .webui-arrow:after {
  border-top-color: #333;
}

.webui-popover-inverse.right > .webui-arrow,
.webui-popover-inverse.right-top > .webui-arrow,
.webui-popover-inverse.right-bottom > .webui-arrow,
.webui-popover-inverse.right > .webui-arrow:after,
.webui-popover-inverse.right-top > .webui-arrow:after,
.webui-popover-inverse.right-bottom > .webui-arrow:after {
  border-right-color: #333;
}

.webui-popover-inverse.bottom > .webui-arrow,
.webui-popover-inverse.bottom-left > .webui-arrow,
.webui-popover-inverse.bottom-right > .webui-arrow,
.webui-popover-inverse.bottom > .webui-arrow:after,
.webui-popover-inverse.bottom-left > .webui-arrow:after,
.webui-popover-inverse.bottom-right > .webui-arrow:after {
  border-bottom-color: #333;
}

.webui-popover-inverse.left > .webui-arrow,
.webui-popover-inverse.left-top > .webui-arrow,
.webui-popover-inverse.left-bottom > .webui-arrow,
.webui-popover-inverse.left > .webui-arrow:after,
.webui-popover-inverse.left-top > .webui-arrow:after,
.webui-popover-inverse.left-bottom > .webui-arrow:after {
  border-left-color: #333;
}

.webui-popover i.icon-refresh:before {
  content: "";
}

.webui-popover i.icon-refresh {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -15px;
  margin-right: -15px;
  background: url(../img/loading.gif) no-repeat;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.webui-popover-backdrop {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
}

.webui-popover .dropdown-menu {
  display: block;
  position: relative;
  top: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  float: none;
}

.popup {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed !important;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100;
}
.popup.active .popup-content {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.popup.show {
  display: block;
}
.popup.show .popup-content {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.popup-table {
  height: 100%;
  table-layout: fixed;
}
.popup-table > .cell {
  height: 100%;
  vertical-align: middle;
  padding: 30px 10px;
}

.popup-content {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  max-width: 500px;
  margin: 0px auto;
  background-color: #fff;
}

.popup-close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background: url("../img/icons/close.png") 0 0 no-repeat;
}

.popup-video .popup-close {
  width: 40px;
  height: 40px;
  background-color: #000;
  top: 0;
  right: 0;
}

.popup-video__value {
  max-width: 99%;
  height: 99%;
  border: none;
}
.popup-video__value iframe {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 100%;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.popup__txt {
  font-size: 20px;
  padding: 50px;
}

.fullscreen {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
.fullscreen__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px auto;
  max-width: 910px;
  min-width: 0;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header:before {
  content: "";
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2c147e;
  z-index: 0;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.header.animation-js:before {
  opacity: 1;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
@media (max-width: 540px) {
  .header {
    padding: 20px;
  }
}
.header__menu {
  margin: 0px auto;
  max-width: 910px;
}
.header__content {
  padding: 235px 0px 0px 0px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 5.4229934924% 0px 9.7613882863%;
  z-index: 1;
}
@media (max-width: 860px) {
  .menu__body {
    padding: 0px 1.3557483731% 0px 2.4403470716%;
  }
}
@media (max-width: 540px) {
  .menu__body {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 80px 0px 0px 0px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body.active {
    top: 0;
  }
}
.menu__link {
  font-family: Sansation;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 2px;
  text-align: right;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__link:hover {
  color: #097e89;
}
.logo {
  z-index: 2;
}
.logo__title a {
  font-family: Sansation;
  font-size: 24px;
  text-align: left;
  color: #ffffff;
}
.logo__title a span {
  color: #da2346;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 540px) {
  .menu-list {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .menu-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (max-width: 767.98px) {
  .menu-list li {
    margin-right: 15px;
  }
  .menu-list li:last-child {
    margin-right: 0;
  }
}
@media (max-width: 540px) {
  .menu-list li {
    margin: 0px 0px 15px 0px;
    text-align: center;
  }
}

.header-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  z-index: 1;
}
@media (max-width: 540px) {
  .header-message {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 20px 0px;
  }
}
.header-message__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}
@media (max-width: 540px) {
  .header-message__img {
    margin-right: 30px;
    width: 45px;
    height: 45px;
  }
}
.header-message__img:last-child {
  margin-right: 0;
}
.header-message__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-header {
  position: relative;
}
.content-header__arrow {
  width: 29px;
  height: 33px;
  opacity: 0.1;
  border: solid 1px #ffffff;
  position: absolute;
  top: 300px;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}
.content-header__arrow-left {
  left: 0;
}
.content-header__arrow-right {
  right: 0;
}
.slide-header__title {
  font-family: Sansation;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.81;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}
.slide-header__text {
  font-family: Sansation;
  font-size: 10.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  max-width: 400px;
  margin: 0px auto;
  margin-bottom: 40px;
}
.slide-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 112px;
  height: 37px;
  border: solid 2px #ffffff;
  margin: 0px auto;
}
.slide-header__link span {
  font-family: Sansation;
  font-size: 14.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.header-menu__icon {
  display: none;
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
}
.header-menu__icon span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 8px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.header-menu__icon span:first-child {
  top: 0px;
}
.header-menu__icon span:last-child {
  top: auto;
  bottom: 0px;
}
.header-menu__icon.active span {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
.header-menu__icon.active span:first-child {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
}
.header-menu__icon.active span:last-child {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 8px;
}
@media (max-width: 540px) {
  .header-menu__icon {
    display: block;
  }
}

footer {
  background-color: #474747;
}

.footer-body {
  padding: 30px 15px 40px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
@media (max-width: 767.98px) {
  .footer-body {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .footer-body__link, .footer-body__social {
    -webkit-box-flex: 0 !important;
        -ms-flex: none !important;
            flex: none !important;
  }
}
.footer-body__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
@media (max-width: 767.98px) {
  .footer-body__link {
    margin-bottom: 20px;
  }
}
.footer-body__collum {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}
.footer-body__social {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.collum-body__link {
  position: relative;
}
.collum-body__link a {
  font-family: HelveticaLTStd-Cond;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.42;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.collum-body__link a:hover {
  color: #097e89;
}
@media (max-width: 767.98px) {
  .collum-body__link a {
    display: block;
    text-align: center;
  }
}
.collum-body__link:first-child {
  margin-bottom: 20px;
}
.collum-body__link:first-child a {
  line-height: 2;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
.collum-body__link:first-child::after {
  content: "";
  height: 2px;
  width: 20px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (max-width: 767.98px) {
  .collum-body__link:first-child::after {
    left: 50%;
    -webkit-transform: translate3d(-50%, 0px, 0px);
            transform: translate3d(-50%, 0px, 0px);
  }
}

.social-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.social-body__email {
  margin-bottom: 20px;
}
.social-networks__wrapper {
  max-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px 0px 0px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .social-networks__wrapper {
    margin: 0px auto;
  }
}
.social-networks__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #2e2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-networks__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.email-social__form {
  position: relative;
  max-width: 260px;
  margin: 0px 0px 0px auto;
}
@media (max-width: 767.98px) {
  .email-social__form {
    margin: 0px auto;
  }
}
.email-social__input input {
  width: 100%;
  height: 45px;
  padding-left: 16px;
  font-family: HelveticaLTStd-Cond;
  font-size: 15px;
  font-weight: 300;
  color: #4f4e4e;
  background-color: #cccccc;
}
.email-social__btn {
  position: absolute;
  top: 1px;
  right: 1px;
}
.email-social__btn button {
  font-family: HelveticaLTStd-Cond;
  font-size: 17px;
  font-weight: 300;
  background-color: #0072bc;
  width: 100px;
  height: 43px;
}

.rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
.rectangle__conteiner {
  max-width: 420px;
  margin: 50px auto 100px auto;
  padding: 0px 10px;
}
@media (max-width: 992.98px) {
  .rectangle__conteiner {
    margin: 25px auto 50px auto;
  }
}
@media (max-width: 767.98px) {
  .rectangle__conteiner {
    margin: 15px auto 25px auto;
  }
}
.rectangle__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
@media (max-width: 479.98px) {
  .rectangle__left {
    display: none;
  }
}
.rectangle__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.right-rectangle__title {
  font-family: Sansation;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  color: #252525;
  padding: 0px 0px 12px 0px;
  margin: 0px 0px 31px 0px;
  border-bottom: 2px #252525 solid;
}
.right-rectangle__text {
  font-family: Myriad Pro;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 0px 0px 42px 0px;
}
@media (max-width: 479.98px) {
  .right-rectangle__text {
    margin: 0px 0px 20px 0px;
  }
}
.right-rectangle__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  width: 161px;
  height: 24px;
  border-radius: 2px;
  background-color: #05a0af;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 479.98px) {
  .right-rectangle__link {
    margin: 0px auto;
  }
}
.right-rectangle__link span {
  font-family: NEOTERIC;
  font-size: 9.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.11;
  letter-spacing: normal;
  text-align: left;
  color: #f7f7f7;
}

.services {
  position: relative;
}
.header-services__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #373737;
  padding: 50px 0px;
}
@media (max-width: 992.98px) {
  .header-services__title {
    padding: 25px 0px;
  }
}
.header-services__title div {
  padding: 0px 8px;
  font-family: Sansation;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.65;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  opacity: 0;
  -webkit-animation: services__logo 2s;
          animation: services__logo 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .header-services__title div {
    font-size: calc(25px + 25.5 * ((100vw - 320px) / 910));
  }
}
@media (min-width: 767px) {
  .header-services__title div {
    font-size: calc(25px + 15 * (100vw / 910));
  }
}
@-webkit-keyframes services__logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes services__logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header-services__title span {
  display: block;
  position: relative;
  width: 0px;
  height: 0px;
  background-color: #ffffff;
  -webkit-animation: span-amin 0.5s;
          animation: span-amin 0.5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 345px) {
  .header-services__title span {
    display: none;
  }
}
@-webkit-keyframes span-amin {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 72px;
    height: 3px;
    max-width: 479.98px;
    max-width-width: 35px;
  }
}
@keyframes span-amin {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 72px;
    height: 3px;
    max-width: 479.98px;
    max-width-width: 35px;
  }
}
.header-services__title span::before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  background-color: #ffffff;
  position: absolute;
  top: 1px;
  right: 72px;
  -webkit-animation: span-amin-2 3s;
          animation: span-amin-2 3s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes span-amin-2 {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 305px;
    height: 1px;
  }
}
@keyframes span-amin-2 {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 305px;
    height: 1px;
  }
}
@media (max-width: 479.98px) {
  .header-services__title span::before {
    display: none;
  }
}
.header-services__title span.mirror-reflection::before {
  left: 72px;
}

.slider-services__sliders {
  position: relative;
}
.slider-services__slide {
  opacity: 0;
  background-color: #3d3d3d;
  padding: 145px 0px 145px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767.98px) {
  .slider-services__slide {
    padding: 70px 0px 70px 0px;
  }
}
.slider-services__slide:hover {
  background-color: #097e89;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}
.slider-services__slide.active {
  opacity: 1;
  -webkit-transition: opacity 2s ease 0s;
  -o-transition: opacity 2s ease 0s;
  transition: opacity 2s ease 0s;
}
.slider-services__logo {
  max-width: 125px;
  max-height: 74px;
  margin: 0 auto;
  margin-bottom: 55px;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .slider-services__logo {
    margin-bottom: 45px;
  }
}
.slider-services__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-services__title {
  font-family: Sansation;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.slider-services__text {
  font-family: Sansation;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #f7f7f7;
  max-width: 299px;
  margin: 0px auto 30px auto;
}
.slider-services__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
  background-color: #959595;
  padding: 10px 27px;
  max-width: 145px;
  margin: 0px auto;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slider-services__link span {
  font-family: Sansation;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #f7f7f7;
}
.slider-services__link:hover {
  -webkit-box-shadow: 0 10px 5px #373636;
          box-shadow: 0 10px 5px #373636;
}
.slider-services__link:active {
  -webkit-box-shadow: 0 5px 5px #373636;
          box-shadow: 0 5px 5px #373636;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background-color: #089eac;
  position: absolute;
  bottom: 0;
  z-index: 2;
  -webkit-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  font-size: 25px;
  color: #373636;
  cursor: pointer;
}
.arrow:hover {
  border: 1px solid white;
  background-color: #373636;
  color: #089eac;
  -webkit-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
.arrow:active {
  background-color: white;
}
.arrow_left {
  right: 32px;
}
.arrow_right {
  right: 0;
}

.feedback__content {
  background-color: #3d3d3d;
  padding: 30px 0px;
}

.content-feedback {
  opacity: 0;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
.content-feedback.active {
  opacity: 1;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
.content-feedback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
@media (max-width: 930px) {
  .content-feedback__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.content-feedback__message {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  margin: 0px 50px 0px 0px;
  min-width: 0;
}
@media (max-width: 930px) {
  .content-feedback__message {
    margin: 0px auto 10px auto;
    max-width: 70%;
  }
}
.content-feedback__photo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
}

.message-feedback span {
  display: block;
  width: 62px;
  height: 2px;
  background-color: #b1aeae;
  margin: 0px auto 40px auto;
}
.message-feedback__text {
  margin-bottom: 18px;
}
.message-feedback__text-slide {
  font-family: Sansation;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #cdc8c8;
}
.controll-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.controll-feedback__left-arrow, .controll-feedback__right-arrow {
  font-size: 25px;
  color: #999999;
  cursor: pointer;
}
.controll-feedback__left-arrow:active, .controll-feedback__right-arrow:active {
  color: #097e89;
}
.controll-feedback__number {
  font-family: Sansation;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
  color: #cdc8c8;
}
.photo-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 930px) {
  .photo-feedback {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.photo-feedback__img {
  max-width: 202px;
  max-height: 223px;
  overflow: hidden;
}
.photo-feedback__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo-clients {
  opacity: 0;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
.logo-clients.active {
  opacity: 1;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
.logo-clients__collum {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.logo-clients__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 0px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 150px;
  margin: 0px 0px 100px 0px;
}
@media (max-width: 767.98px) {
  .logo-clients__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 479.98px) {
  .logo-clients__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 25px 0px;
  }
}
.logo-clients__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.header-services__title.w {
  background-color: #fefefe;
  padding-bottom: 70px;
}
@media (max-width: 479.98px) {
  .header-services__title.w {
    padding-bottom: 35px;
  }
}
.header-services__title.w div {
  color: #656464;
}
.header-services__title.w span {
  background-color: #656464;
}
.header-services__title.w span:before {
  background-color: #656464;
}

.back-call {
  background-color: #097e89;
  padding: 30px 15px 60px 15px;
}
.back-call__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
@media (max-width: 600px) {
  .back-call__wrapper {
    display: block;
  }
}
.back-call__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.back-call__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.text-call-back {
  padding: 10px;
}
.text-call-back__title {
  font-family: Sansation;
  font-size: 29.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.93;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 26px;
  max-width: 300px;
}
@media (max-width: 600px) {
  .text-call-back__title {
    max-width: none;
  }
}
.text-call-back__txt {
  font-family: Sansation;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}

.form-back-coll__wrapper {
  display: block;
  margin-top: 56px;
}
@media (max-width: 600px) {
  .form-back-coll__wrapper {
    margin-top: 30px;
  }
}
.form-back-coll__forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
@media (max-width: 767.98px) {
  .form-back-coll__forms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.form-back-coll__input, .form-back-coll .form-back-coll__number {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: Sansation;
  font-size: 10.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  background-color: #097e89;
  border: 1px solid #ffffff;
  padding-left: 25px;
}
@media (max-width: 767.98px) {
  .form-back-coll__input, .form-back-coll .form-back-coll__number {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45px;
            flex: 1 1 45px;
  }
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}

.form__column {
  padding: 0px 15px;
}

.btn.form-back-coll__btn {
  padding: 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  height: 45px;
  background-color: #ffffff;
  color: #097e89;
  font-family: "Myriad Pro";
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
}
@media (max-width: 767.98px) {
  .btn.form-back-coll__btn {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45px;
            flex: 1 1 45px;
  }
}
.btn.form-back-coll__btn.fw {
  width: 100%;
}

.select-block {
  position: relative;
}

.select__label {
  z-index: 2;
  position: absolute;
  top: -8px;
  background-color: #f7f7f7;
  padding: 0 5px;
  color: #979797;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  left: 20px;
}

.select {
  position: relative;
  cursor: pointer;
}
.select .select-title {
  z-index: 1;
  width: 100%;
  height: 55px;
  border: 1px solid #dedede;
  position: relative;
  background-color: #fff;
}
.select .select-title__arrow {
  position: absolute;
  top: 0;
  right: 0px;
  width: 45px;
  height: 100%;
  background: url("../img/icons/select-arrow.svg") center no-repeat;
}
.select .select-title__value {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 53px;
  display: block;
  overflow: hidden;
  padding: 0 45px 0 25px;
  white-space: nowrap;
  text-transform: none;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.select .select-options {
  position: absolute;
  z-index: 10;
  top: 54px;
  display: none;
  overflow: hidden;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 10px 20px 10px 25px;
}
.select .select-options-scroll {
  max-height: 80px;
  overflow: auto;
}
.select .select-options-list {
  padding: 0px 0px 0px 0px;
}
.select .select-options__value {
  color: #000;
  font-size: 20px;
  margin: 0px 0px 15px 0px;
}
.select .select-options__value:last-child {
  margin: 0px 0px 0px 0px;
}
.select .select-options__value:hover {
  color: #000;
}
input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input.err {
  border: 1px solid red;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.check {
  position: relative;
  padding-left: 25px;
  color: #5f5f5f;
  line-height: 18px;
  cursor: pointer;
}
.check input {
  display: none;
}
.check:before {
  content: "";
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #a3a3a3;
  position: absolute;
}
.check.active:before {
  background: #000;
}

.option {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  line-height: 16px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
}
.option:last-child {
  margin-bottom: 0px;
}
.option input {
  display: none;
}
.option:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  content: "";
  border: 1px solid #7f7f7f;
  border-radius: 50%;
}
.option.active:before {
  background: #000;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.rating.edit .star {
  cursor: pointer;
}
.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  position: relative;
  width: 73px;
  height: 47px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
}

.quantity__input {
  height: 45px;
  width: 50px;
  text-align: center;
  color: #101010;
  font-weight: 300;
}

.quantity__btn {
  position: absolute;
  top: 11px;
  right: 15px;
  cursor: pointer;
}
.quantity__btn:before {
  font-size: 25px;
  display: inline-block;
  line-height: 10px;
  color: #a9a9a9;
}
.quantity__btn:hover:before {
  color: #da0005;
}
.quantity__btn.dwn {
  top: 25px;
}

.category-params-item-price-table {
  margin-bottom: 25px;
}
.category-params-item-price-table .cell:first-child {
  padding-right: 15px;
  position: relative;
}
.category-params-item-price-table .cell:first-child:after {
  content: "-";
  position: absolute;
  right: -4px;
  top: 8px;
  font-size: 20px;
}
.category-params-item-price-table .cell:last-child {
  padding-left: 15px;
}
.category-params-item-price-table .cell input {
  height: 37px;
  border: 2px solid #393939;
  background-color: #ffffff;
  text-align: center;
  font-size: 12px;
  color: #393939;
  font-weight: 500;
  width: 100%;
}

.category-params-item-price-range {
  margin: 0 12px 40px 12px;
  background-color: #c9cecf;
  height: 2px;
  position: relative;
}
.category-params-item-price-range .ui-slider-range {
  background-color: #000;
  height: 2px;
  position: relative;
}
.category-params-item-price-range .ui-slider-handle {
  width: 23px;
  height: 28px;
  border: 3px solid #fbfbfb;
  background-color: #ea5922;
  display: block;
  position: absolute;
  top: -14px;
  margin-left: -12px;
  cursor: pointer;
}
.category-params-item-price-range .ui-slider-handle span {
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 50px;
  text-align: center;
  font-size: 10px;
  margin-left: -25px;
  font-weight: 500;
  color: #94a6aa;
}

.form__info {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0;
  top: 0;
  line-height: 60px;
  text-align: center;
  color: #888;
  z-index: 2;
  font-size: 14px;
}
@media (max-width: 767.98px) {
  .form__info {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.form-range-line {
  position: relative;
  height: 5px;
  border-radius: 0 0 4px 4px;
  background-color: #e0e0e0;
  margin: -2px 0px 0px 0px;
}
.form-range-line .ui-slider-range {
  background-color: #093454;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 4px 4px;
}
.form-range-line .ui-slider-handle {
  background: url("../img/icons/range.svg") 0 0 no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  margin: -9px 0px 0px -14px;
  top: 0;
  left: 0;
  cursor: pointer;
}
.form-range-line .ui-state-hover {
  background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 0px 0px 0px;
}

.form-range-values__item {
  font-size: 12px;
  color: #888;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}
ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}
.cell.full {
  width: 100%;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg__del {
  display: none;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.video video, .video iframe, .video object, .video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video, .videobg iframe, .videobg object, .videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}
.moretext__more i {
  font-style: normal;
}
.moretext__more i:first-child {
  display: block;
}
.moretext__more i:last-child {
  display: none;
}
.moretext__more.active i {
  font-style: normal;
}
.moretext__more.active i:first-child {
  display: none;
}
.moretext__more.active i:last-child {
  display: block;
}

.graystyle {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

.graystyleoff {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
}

.slick-slider {
  position: relative;
}
.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.slick-slider .slick-track {
  position: relative;
  width: 100%;
}
.slick-slider .slick-slide {
  overflow: hidden;
  float: left;
  position: relative;
}
.tab__item {
  display: none;
}
.tab__item.active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}
.baloon button {
  display: none !important;
}
.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}
.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}
.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}